@font-face {
    src: url('../resource/fonts/NotoSansCJKkr-Regular.otf');
}
@font-face {
    src: url('../resource/fonts/NanumBarunGothicBold.woff');
}
@font-face {
    src: url('../resource/fonts/Roboto-Bold.ttf');
}
@font-face {
    src: url('../resource/fonts/Roboto-Regular.ttf');
}

/*-fx-font-family: "Roboto Bold";*/
/*-fx-font-family: "Roboto Regular";*/
/*-fx-font-family: "NanumBarunGothic";*/

.text {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-smoothing-type: gray;
}

.button {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-smoothing-type: gray;
}

.label {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-smoothing-type: gray;
}

.text-field {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-smoothing-type: gray;
}

.text-area {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-smoothing-type: gray;
}

.base-pane {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-background-color: #0A1931;
}

.button:pressed {
	-fx-font-family: "Noto Sans CJK KR Regular";
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.font-style-nanumBarunGothic{
	-fx-font-family: "NanumGothic";
}
.font-style-roboto-regular{
	-fx-font-family: "Roboto Regular";
}
.font-style-roboto-bold{
	-fx-font-family: "Roboto Bold";
}
.font-style-noto-sans-kr{
	-fx-font-family: "Noto Sans KR";
}
