@import "common.css";
.login-view .button{
	-fx-border-width: 1.0;
	-fx-border-color: #0082e5;
	-fx-background-color : #0082e5;
	-fx-font-size: 12px;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-text-fill: #ffffff;
}

.login-view .button:hover{
	-fx-border-width: 2px;
	-fx-border-color: #0082e5;
	-fx-background-color:  #0A1931;
	-fx-text-fill: #ffffff;
}

.text-field {
	-fx-background-color: #27293d ;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-background-radius: 0.0 ;
	-fx-text-fill: #f7f7f7;
}
.text-field:focused {
	-fx-background-color:  #27293d ;
	-fx-text-fill: #f7f7f7;
}
