@import "common.css";

/* pane background */
.grid-pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-border-color: #cccccc;
    -fx-border-radius: 3px;
}
.grid-pane .label{
    -fx-font-family: "Noto Sans CJK KR Regular";
}

/* 라벨 */
.label {
    -fx-text-fill: #111;
    -fx-font-size: 15px;
}

.description-label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 13px;
}


.label-background {
    -fx-background-color: #cccccc;
    -fx-text-fill: #111111;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 15px;
}

/* 텍스트 필드 */
.text-field {
    -fx-background-color: #f7f7f7;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
    -fx-text-fill: #27293d;
    -fx-border-color: #ccc;
}

.text-field:focused {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #27293d;
    -fx-text-fill: #27293d;
}

/* 표 라인 그리기 */
.underline {
    -fx-background-color: #e9e9e9;
}

/* 버튼 */
.btn-submit {
    -fx-border-width: 1px;
    -fx-border-color: #008fff;
    -fx-background-color: #008fff;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0px 12px 0px 12px;
    -fx-border-radius: 5px;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 16px;
}

.btn-submit:hover {
    -fx-border-width: 1px;
    -fx-border-color: #008fff;
    -fx-background-color: #008fff;
   -fx-text-fill: #ffffff;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0px 12px 0px 12px;
    -fx-border-radius: 5px;
}


/* 버튼 */
.btn-init-submit {
    -fx-border-width: 1px;
    -fx-border-color: #ea0030;
    -fx-background-color: #ea0030;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0px 12px 0px 12px;
    -fx-border-radius: 5px;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 16px;
}
/* 버튼 */
.btn-init-submit:hover {
    -fx-border-width: 1px;
    -fx-border-color: #ea0030;
    -fx-background-color: #ea0030;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0px 12px 0px 12px;
    -fx-border-radius: 5px;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 16px;
}

/* 체크박스 */
.check-box {
    -fx-text-fill: #111;
    -fx-font-size: 15px;
    -fx-font-family: "Noto Sans CJK KR Regular";
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}

.check-box .mark {
    -fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
    l0.003,0.004L14.596,2.055z";
    -fx-scale-x: 0.85;
    -fx-scale-y: 0.85;
    -fx-background-color: #cccccc;
    
}

.check-box:selected .mark {
   -fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
    l0.003,0.004L14.596,2.055z";
	-fx-background-color: #008fff;
}

.check-box:selected .box {
   -fx-border-color: #cccccc;
}

.check-box:pressed .box {
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}


/* 폰트 */
.font-s {
    -fx-font-size: 13px;
}


/* 라디오버튼 */
.radio-button {
    -fx-text-fill: #111;
    -fx-font-size: 13px;
	-fx-font-family: "Noto Sans CJK KR Regular";
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 11px;
    -fx-background-insets: 0;
}

.radio-button:pressed .radio {
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-width: 1px;
  	-fx-border-color: #27293d;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #0082e5;
    -fx-background-radius: 15px;
    -fx-background-insets: 0;
}

.text-field {
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-background-radius: 0.0 ;
	-fx-border-color: #cccccc;
	-fx-font-size: 14px;
	-fx-text-fill: #111111;
	-fx-font-family: "Noto Sans CJK KR Regular";
}
.text-field:focused {
	-fx-font-size: 14px;
	-fx-text-fill: #111111;
	-fx-border-color: #cccccc;
	-fx-font-family: "Noto Sans CJK KR Regular";
}

.text-area .content  {
   -fx-background-color: #ffffff;
     -fx-background-radius: 0px;
      -fx-background-insets: 0;
}

