.dialog-pane{
	-fx-background-color: #404142;
	-fx-border-width: 1.0px;
	-fx-border-color: #8f7015;
}
.dialog-pane .content{
	-fx-font-size: 15px;
	-fx-background-color: #404142;
}

.dialog-pane .label{
	-fx-text-fill: #FFFFFF;
}

.dialog-pane > .button-bar > .container {
	-fx-padding: 0px;
}
.dialog-pane .button {
	-fx-font-size: 16.0px;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #3f64c3;
}