/.metadata/
NHAuctionController/.settings
NHAuctionController/bin
NHAuctionScheduler/bin
NHAuctionServer/target
NHCommon/bin
NHShare/target
NHShare/.classpath
*.classpath
NHAuctionServer/.factorypath
