@import "common.css";

.setting-sound{
	-fx-background-color : #ffffff;
}
.setting-sound .label{
	-fx-text-fill: #111111;
	-fx-font-size: 15px;
	-fx-font-family: "Noto Sans CJK KR Regular";
}

.btn-style-1{
	-fx-border-width: 1.0;
	-fx-border-color: #122a48;
	-fx-background-color : #122a48;
	-fx-font-size: 16px;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-text-fill: #ffffff;
	-fx-padding: 8px 20px 8px 20px;
	-fx-font-family: "Noto Sans CJK KR Regular";
}

.btn-style-2{
	-fx-border-width: 1px;
    -fx-border-color: #008fff;
    -fx-font-size: 16px;
    -fx-background-color: #008fff;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 8px 20px 8px 20px;
    -fx-font-family: "Noto Sans CJK KR Regular";
}

.btn-style-play{
	-fx-border-width: 1.0;
	-fx-border-color: #008fff;
	-fx-background-color : #008fff;
	-fx-font-size: 12px;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-text-fill: #ffffff;
}

.btn-style-stop{
	-fx-border-width: 1.0;
	-fx-border-color: #008fff;
	-fx-background-color : #008fff;
	-fx-font-size: 12px;
	-fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
	-fx-text-fill: #ffffff;
}

.setting-sound .label{
	-fx-font-size: 17px;
}
.text-area {
	text-area-background: #ffffff ;
	-fx-font-family: "Noto Sans CJK KR Regular";
	-fx-font-size: 14px;
}

.text-area-style-1 .content{
	-fx-border-width: 0px;
	-fx-border-color: #ffffff;
	-fx-background-color: text-area-background ;
	-fx-text-fill: #111111;
	-fx-border-radius: 0px;
}

.label-background {
    -fx-background-color: #cccccc;
    -fx-text-fill: #111111;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 15px;
}

.description-label {
    -fx-text-fill: #ff0000;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-font-size: 13px;
}

.text-field {
    -fx-background-color: #f7f7f7;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
    -fx-font-family: "Noto Sans CJK KR Regular";
    -fx-text-fill: #27293d;
    -fx-border-color: #ccc;
}

.text-field:focused {
	-fx-font-size: 18px;
	-fx-text-fill: #111111;
	-fx-border-color: #cccccc;
	-fx-font-family: "Noto Sans CJK KR Regular";
}