<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        private String mAuctionHouseCode; // 조합구분코드-->
<!--        private String mUserMemNum; // 거래인관리번호-->
<!--        private String mAuthToken; // 인증토큰-->
<!--        private String mChannel; // 접속 요청 채널-->
<!--        private String mOS; // 사용 채널-->

<mapper namespace="com.nh.controller.mapper.ConnectionInfoMapper">
    <!--  관리자 로그인 체크  -->
    <select id="selectAdminInfo" parameterType="String">
        SELECT AUCTION.USRNM
        FROM auction.tb_la_is_mm_usr as A
        WHERE A.USRID = #{userId} A.PW = #{userPwd};
    </select>

    <!--  유저 유무 체크  -->
    <select id="selectConnectionInfo" parameterType="String"
            resultType="String">
        SELECT A.LVST_AUC_PTC_MN_NO
        FROM AUCTION.tb_la_is_mh_auc_entr as A
        WHERE A.NA_BZPLC = #{auctionHouseCode}
          AND A.AUC_DT = #{auctionDate}
          AND A.AUC_OBJ_DSC = #{entryType}
          And A.TRMN_AMNNO = #{userMemNum}
        ORDER BY A.LVST_AUC_PTC_MN_NO
                DESC LIMIT 1;
    </select>

    <!--   시퀀스 아이디 생성  -->
    <select id="selectSequenceId" resultType="String">
        select max(cast(lvst_auc_ptc_mn_no as unsigned))
        from auction.tb_la_is_mh_auc_entr;
    </select>

    <!--    유저 정보 insert -->
    <insert id="insertConnectionInfo" parameterType="list">
        INSERT INTO AUCTION.tb_la_is_mh_auc_entr(
        NA_BZPLC,
        AUC_DT,
        AUC_OBJ_DSC,
        LVST_AUC_PTC_MN_NO,
        TRMN_AMNNO,
        TR_DFN_YN,
        AUC_ENTR_GRN_AM,
        RTRN_YN,
        TMS_YN,
        DEL_YN,
        FSRG_DTM,
        FSRGMN_ENO
        )
        VALUES
        <foreach collection="list" item="UserInfo" separator=",">
            (#{UserInfo.naBzplc},
            #{UserInfo.aucDt},
            #{UserInfo.aucObjDsc},
            #{UserInfo.lvstAucPtcMnNo},
            #{UserInfo.trmnAmnno},
            0, 0, 0, 1, 0,
            #{UserInfo.fsrgDtm},
            #{UserInfo.fsrgmnEno})
        </foreach>
    </insert>
</mapper>