<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nh.controller.mapper.EntryInfoMapper">

    <!--TODO 경매 결과 관련 추가 해야함 -->
    <resultMap type="EntryInfo" id="entryInfoMap">
        <result property="mAuctionHouseCode" column="NA_BZPLC"/>
        <result property="mEntryNum" column="AUC_PRG_SQ"/>
		<result property="mAuctionQcn" column="QCN"/>
        <result property="mEntryType" column="AUC_OBJ_DSC"/>
        <result property="mIndNum" column="SRA_INDV_AMNNO"/>
        <result property="mIndMngCd" column="SRA_SRS_DSC"/>
        <result property="mFhsNum" column="FHS_ID_NO"/>
        <result property="mFarmMngNum" column="FARM_AMNNO"/>
        <result property="mExhibitor" column="FTSNM"/>
        <result property="mBrandName" column="BRANDNM"/>
        <result property="mBirthday" column="BIRTH"/>
        <result property="mKpn" column="KPN_NO"/>
        <result property="mGender" column="INDV_SEX_C"/>
        <result property="mGenderName" column="INDV_SEX_C_NAME"/>
        <result property="mMotherTypeCode" column="MCOW_DSC"/>
        <result property="mMotherObjNum" column="MCOW_SRA_INDV_AMNNO"/>
        <result property="mMotherCowName" column="MCOW_DSC"/>
        <result property="mMaTime" column="MATIME"/>
        <result property="mMaMonth" column="PRNY_MTCN"/>
        <result property="mPasgQcn" column="SRA_INDV_PASG_QCN"/>
        <result property="mObjIdNum" column="INDV_ID_NO"/>
        <result property="mObjRegNum" column="SRA_INDV_BRDSRA_RG_NO"/>
        <result property="mObjRegTypeNum" column="RG_DSC"/>
        <result property="mRgnName" column="SRA_PD_RGNNM"/>
        <result property="mDnaYn" column="DNA_YN"/>
        <result property="mIsNew" column="ANW_YN"/>
        <result property="mWeight" column="COW_SOG_WT"/>
        <result property="mInitPrice" column="FIR_LOWS_SBID_LMT_AM"/>
        <result property="mLowPrice" column="LOWS_SBID_LMT_AM"/>
        <result property="mNote" column="RMK_CNTN"/>
        <result property="mAucDt" column="AUC_DT"/>
        <result property="mLsChgDtm" column="LSCHG_DTM"/>
        <result property="mLsCmeNo" column="LS_CMENO"/>
        <result property="mLwprChgNt" column="LWPR_CHG_NT"/>
        <result property="mAuctionResult" column="SEL_STS_DSC"/>
        <result property="mAuctionSucBidder" column="LVST_AUC_PTC_MN_NO"/>
        <result property="mAuctionBidPrice" column="SRA_SBID_AM"/>
        <result property="mOslpNo" column="OSLP_NO"/>
        <result property="mTrmnAmnNo" column="TRMN_AMNNO"/>
        <result property="mLedSqno" column="LED_SQNO"/>

    </resultMap>

	<!-- tb_la_is_mm_indv -->
	<sql id="indvColumn">
		${alias}.NA_BZPLC,
		${alias}.SRA_INDV_AMNNO,
		${alias}.SRA_SRS_DSC,
		${alias}.FHS_ID_NO,
		${alias}.FARM_AMNNO,
		${alias}.BIRTH,
		ltrim(rtrim(${alias}.KPN_NO)) as KPN_NO,
		${alias}.INDV_SEX_C,
		${alias}.MCOW_SRA_INDV_AMNNO,
		${alias}.MATIME,
		${alias}.SRA_INDV_PASG_QCN,
		${alias}.INDV_ID_NO,
		${alias}.SRA_INDV_BRDSRA_RG_NO,
		${alias}.RG_DSC,
		${alias}.ANW_YN,
		CASE WHEN ${alias}.INDV_SEX_C = '0' THEN '없음'	WHEN ${alias}.INDV_SEX_C = '1' THEN '암'
		WHEN ${alias}.INDV_SEX_C = '2' THEN '수'			WHEN ${alias}.INDV_SEX_C = '3' THEN '거세'
		WHEN ${alias}.INDV_SEX_C = '4' THEN '미경산'		WHEN ${alias}.INDV_SEX_C = '5' THEN '비거세'
		WHEN ${alias}.INDV_SEX_C = '6' THEN '프리마틴'		WHEN ${alias}.INDV_SEX_C = '9' THEN '공통' END INDV_SEX_C_NAME
	</sql>

	<!-- tb_la_is_mh_sog_cow -->
	<sql id="sogCowColumn">
		${alias}.NA_BZPLC,
		${alias}.AUC_PRG_SQ,
		${alias}.COW_SOG_WT,
		${alias}.AUC_OBJ_DSC,
		${alias}.FIR_LOWS_SBID_LMT_AM,
		${alias}.LOWS_SBID_LMT_AM,
		${alias}.RMK_CNTN,
		${alias}.BRANDNM,
		${alias}.PRNY_MTCN,
		${alias}.AUC_DT,
		REPLACE(REPLACE(REPLACE(CONVERT(varchar,A.LSCHG_DTM,20),'-',''),' ',''),':','') as LSCHG_DTM,
		${alias}.LS_CMENO,
		${alias}.SEL_STS_DSC,
		${alias}.LWPR_CHG_NT,
		${alias}.LVST_AUC_PTC_MN_NO,
		${alias}.SRA_SBID_AM,
		${alias}.DNA_YN,
		${alias}.SRA_PD_RGNNM,
		${alias}.OSLP_NO,
		${alias}.TRMN_AMNNO,
		${alias}.LED_SQNO
	</sql>

	<!-- tb_la_is_mm_fhs -->
	<sql id="fhsColumn">
		${alias}.FTSNM
	</sql>

	<sql id="aplColumn">
		${alias}.SIMP_CNM AS MCOW_DSC
	</sql>
	
	<sql id="qcnColumn">
		${alias}.QCN
	</sql>
	

	<!-- 출품 데이터 Count -->
	<select id="selectAllEntryCount" resultType="int">
	SELECT	count(*)
	FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
								 AND A.FHS_ID_NO		= B.FHS_ID_NO
								 AND A.FARM_AMNNO		= B.FARM_AMNNO
								 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
								 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
								 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
								 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
													 FROM TB_LA_IS_MH_COMN_APL
													 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
								 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
													 FROM TB_LA_IS_MH_COMN_APL
													 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
								 JOIN TB_LA_IS_MH_AUC_QCN AS F
															ON
															A.NA_BZPLC = F.NA_BZPLC AND
															A.AUC_DT = F.AUC_DT
	WHERE A.NA_BZPLC	= #{naBzplc}
	AND A.AUC_DT		= #{aucDt}
	AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
	</select>

	<!-- 출품 데이터 추출 -->
	<select id="selectAllEntry" resultMap="entryInfoMap" resultType="linkedHashMap">
		SELECT
				<include refid="sogCowColumn"><property name="alias" value="A"/></include>,
				<include refid="fhsColumn"><property name="alias" value="B"/></include>,
				<include refid="indvColumn"><property name="alias" value="C"/></include>,
				<include refid="aplColumn"><property name="alias" value="E"/></include>,
				<include refid="qcnColumn"><property name="alias" value="F"/></include>
		FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
									 AND A.FHS_ID_NO		= B.FHS_ID_NO
									 AND A.FARM_AMNNO		= B.FARM_AMNNO
									 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
									 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
									 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
									JOIN TB_LA_IS_MH_AUC_QCN AS F
																ON
																A.NA_BZPLC = F.NA_BZPLC AND
																A.AUC_DT = F.AUC_DT
		WHERE A.NA_BZPLC	= #{naBzplc}
		AND A.AUC_DT		= #{aucDt}
		AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
		
		<if test="mAuctionResult !=null and !mAuctionResult.equals('')">
			AND A.SEL_STS_DSC = #{mAuctionResult}
		</if>
		
		ORDER BY AUC_PRG_SQ
	</select>

	<!-- 일괄경매 출품 데이터 추출 -->
	<select id="selectStnEntry" resultMap="entryInfoMap" >
	
		SELECT 
				<include refid="sogCowColumn"><property name="alias" value="A"/></include>,
				<include refid="indvColumn"><property name="alias" value="C"/></include>,
				<include refid="fhsColumn"><property name="alias" value="B"/></include>
		FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
									 AND A.FHS_ID_NO		= B.FHS_ID_NO
									 AND A.FARM_AMNNO		= B.FARM_AMNNO
									 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
									 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
									 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
		WHERE A.NA_BZPLC	= #{naBzplc}
		AND A.AUC_DT		= #{aucDt}
		AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
		AND A.AUC_YN = '1'
		AND A.SEL_STS_DSC <![CDATA[<>]]> #{selStsDsc} 
		AND A.AUC_PRG_SQ <![CDATA[>=]]> 1 AND A.AUC_PRG_SQ <![CDATA[<=]]> 1000
		ORDER BY AUC_PRG_SQ
		
	</select>
	
	 <!-- 경매 대기/진행/종료/보류 조회 -->
	<select id="selectSelStsCount" resultType="SelStsCountData" >
	
		SELECT	count(case when sel_sts_dsc = '11' then '11' end) as selStsReady,
				count(case when sel_sts_dsc = '21' then '21' end) as selStsAuction,
				count(case when sel_sts_dsc = '22' then '22' end) as selStsFinish,
				count(case when sel_sts_dsc = '23' then '23' end) as selStsPending,
				count(case when AUC_YN = '1' then '1' end) as selStsProgress,
				count(*) as totalCount
		from tb_la_is_mh_sog_cow
		WHERE na_bzplc = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
	
	</select>
	
	<!-- 가격 정보 업데이트-->
	<update id="updateEntryPrice" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	LOWS_SBID_LMT_AM = #{mLowPrice},
		   		LWPR_CHG_NT = #{mLwprChgNt},
		   		LSCHG_DTM	= GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	OSLP_NO		= #{mOslpNo}
		   AND	LED_SQNO     = #{mLedSqno}
		   AND	AUC_DT		= #{mAucDt}
    </update>
    
	<!-- 가격 정보 다중 업데이트-->
    <update id="updateEntryPriceList" parameterType="java.util.List">
    	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE	TB_LA_IS_MH_SOG_COW
			   SET	LOWS_SBID_LMT_AM = #{item.mLowPrice},
			   		LWPR_CHG_NT = #{item.mLwprChgNt},
			   		LSCHG_DTM = GETDATE(),
			   		LS_CMENO	= #{item.mLsCmeNo}
			 WHERE	NA_BZPLC	= #{item.mAuctionHouseCode}
			   AND	AUC_OBJ_DSC	= #{item.mEntryType}
			   AND	OSLP_NO		= #{item.mOslpNo}
			   AND	LED_SQNO     = #{item.mLedSqno}
			   AND	AUC_DT		= #{item.mAucDt}
		   </foreach>
    </update>
    

  	<!-- 경매 상태 업데이트-->
    <update id="updateEntryState" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	SEL_STS_DSC = #{mAuctionResult},
		   		LSCHG_DTM = GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	AUC_PRG_SQ	= #{mEntryNum}
		   AND	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	AUC_DT		= #{mAucDt}
    </update>

	<!-- 경매 결과 업데이트-->
	<update id="updateAuctionResult" parameterType="AuctionResult">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	SRA_SBID_AM		= #{mSuccessBidPrice},
		  		SRA_SBID_UPR	= #{mSuccessBidUpr},
		  		LVST_AUC_PTC_MN_NO = #{mSuccessAuctionJoinNum},
		  		TRMN_AMNNO	= #{mSuccessBidder},
		   		SEL_STS_DSC	= #{mResultCode},
		   		LSCHG_DTM	= GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_DT		= #{mAucDt}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	OSLP_NO		= #{mOslpNo}
		   AND	LED_SQNO	= #{mLedSqno}
    </update>

	<!-- 응찰 내역 카운트-->
	<select id="selectBiddingHistoryCount" resultType="int">
	
		SELECT COUNT(*)
		FROM TB_LA_IS_MH_ATDR_LOG
		WHERE NA_BZPLC = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
		AND OSLP_NO = #{oslpNo}
		AND RG_SQNO = #{rgSqno}

	</select>
	
	<!-- 다음 응찰 RG_SQNO-->
	<select id="selectNextBiddingHistoryCount" resultType="int">
	
		SELECT ISNULL(MAX(RG_SQNO)+1,1)
		FROM TB_LA_IS_MH_ATDR_LOG
		WHERE NA_BZPLC = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
		AND OSLP_NO = #{oslpNo}
		AND RG_SQNO <![CDATA[>]]> '0' AND RG_SQNO <![CDATA[<]]> '99999999'

	</select>
	
	
	<!-- 응찰 내역 업데이트-->
	<insert id="insertBiddingHistory" parameterType="EntryData">
		INSERT INTO TB_LA_IS_MH_ATDR_LOG(
			NA_BZPLC,
			AUC_OBJ_DSC,
			AUC_DT,
			OSLP_NO,
			RG_SQNO,
			TRMN_AMNNO,
			LVST_AUC_PTC_MN_NO,
			ATDR_AM,
			RMK_CNTN,
			ATDR_DTM,
			AUC_PRG_SQ,
			MMO_INP_YN,
			TMS_YN
		)
		VALUES (
			#{naBzplc},
			#{aucObjDsc},
			#{aucDt},
			#{oslpNo},
			#{rgSqno},
			#{trmnAmnno},
			#{lvstAucPtcMnNo},
			#{atdrAm},
			#{rmkCntn},
			#{atdrDtm},
			#{aucPrgSq},
			'0',
			'0'
		)
	</insert>

	<!--  수수료 부과내역 삭제  -->
	<delete id="deleteFee" parameterType="AuctionResult">
		DELETE FROM TB_LA_IS_MH_FEE_IMPS
		WHERE		NA_BZPLC		= #{mAuctionHouseCode}
			AND		AUC_DT			= #{mAucDt}
			AND		AUC_OBJ_DSC		= #{mEntryType}
			AND		OSLP_NO			= #{mOslpNo}
			AND		LED_SQNO		= #{mLedSqno}
	</delete>

	<!-- 다시 계산 하여 수수료 부과내역 저장  일단 주석..
	<insert id="insertFee" parameterType="AuctionResult">
	
		INSERT INTO TB_LA_IS_MH_ATDR_LOG VALUES (
			#{naBzplc},
			#{aucObjDsc},
			#{aucDt},
			#{oslpNo},
			#{mLedSqno},
			#{rgSqno},
			#{trmnAmnno},
			#{lvstAucPtcMnNo},
			#{atdrAm},
			#{atdrDtm},
			#{aucPrgSq}
		)
	
	</insert>-->

</mapper>
