<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nh.controller.mapper.EntryInfoMapper">

    <!-- private StringProperty auctionHouseCode; // 거점코드
    private StringProperty entryNum; // 출품 번호
    private StringProperty entryType; // 출품 유형(큰소/송아지/육우)
    private StringProperty indNum; // 개체번호
    private StringProperty exhibitor; // 출하주
    private StringProperty birthday; // 생년월일
    private StringProperty gender; // 성별
    private StringProperty weight; // 중량
    private StringProperty kpn; // KPN
    private StringProperty cavingNum; // 산차
    private StringProperty mother; // 어미 혈통
    private StringProperty note; // 특이사항
    private StringProperty auctDateTime; // 경매일시
    private StringProperty entryStatus; // 출품상태
    private StringProperty startPrice; // 시작가
    private StringProperty isLastEntry; // 마지막 출품 여부

    private StringProperty successfulBidder;	// 낙찰자
    private StringProperty BiddingResult; 		// 낙찰결과
    private BooleanProperty isPending; 			// 보류 -->


    <!--TODO 경매 결과 관련 추가 해야함 -->
    <resultMap type="EntryInfo" id="entryInfoMap">
        <result property="mAuctionHouseCode" column="NA_BZPLC"/>
        <result property="mEntryNum" column="AUC_PRG_SQ"/>
        <result property="mEntryType" column="AUC_OBJ_DSC"/>
        <result property="mIndNum" column="SRA_INDV_AMNNO"/>
        <result property="mIndMngCd" column="SRA_SRS_DSC"/>
        <result property="mFhsNum" column="FHS_ID_NO"/>
        <result property="mFarmMngNum" column="FARM_AMNNO"/>
        <result property="mExhibitor" column="FTSNM"/>
        <result property="mBrandName" column="BRANDNM"/>
        <result property="mBirthday" column="BIRTH"/>
        <result property="mKpn" column="KPN_NO"/>
        <result property="mGender" column="INDV_SEX_C"/>
        <result property="mMotherTypeCode" column="MCOW_DSC"/>
        <result property="mMotherObjNum" column="MCOW_SRA_INDV_AMNNO"/>
        <result property="mMaTime" column="MATIME"/>
        <result property="mMaMonth" column="PRNY_MTCN"/>
        <result property="mPasgQcn" column="SRA_INDV_PASG_QCN"/>
        <result property="mObjIdNum" column="INDV_ID_NO"/>
        <result property="mObjRegNum" column="SRA_INDV_BRDSRA_RG_NO"/>
        <result property="mObjRegTypeNum" column="RG_DSC"/>
        <result property="mRgnName" column="SRA_PD_RGNNM"/>
        <result property="mDnaYn" column="DNA_YN"/>
        <result property="mIsNew" column="ANW_YN"/>
        <result property="mWeight" column="COW_SOG_WT"/>
        <result property="mInitPrice" column="FIR_LOWS_SBID_LMT_AM"/>
        <result property="mLowPrice" column="LOWS_SBID_LMT_AM"/>
        <result property="mNote" column="RMK_CNTN"/>
        <result property="mAucDt" column="AUC_DT"/>
        <result property="mLsChgDtm" column="LSCHG_DTM"/>
        <result property="mLsCmeNo" column="LS_CMENO"/>
        <result property="mLwprChgNt" column="LWPR_CHG_NT"/>
        <result property="mAuctionResult" column="SEL_STS_DSC"/>
        <result property="mAuctionSucBidder" column="LVST_AUC_PTC_MN_NO"/>
        <result property="mAuctionBidPrice" column="SRA_SBID_AM"/>
          
        
    </resultMap>

	<!-- tb_la_is_mm_indv -->
	<sql id="indvColumn">
		${alias}.NA_BZPLC,
		${alias}.SRA_INDV_AMNNO,
		${alias}.SRA_SRS_DSC,
		${alias}.FHS_ID_NO,
		${alias}.FARM_AMNNO,
		${alias}.BIRTH,
		${alias}.MCOW_DSC,
		${alias}.KPN_NO,
		${alias}.INDV_SEX_C,
		${alias}.MCOW_SRA_INDV_AMNNO,
		${alias}.MATIME,
		${alias}.SRA_INDV_PASG_QCN,
		${alias}.INDV_ID_NO,
		${alias}.SRA_INDV_BRDSRA_RG_NO,
		${alias}.RG_DSC,
		${alias}.ANW_YN
	</sql>

	<!-- tb_la_is_mh_sog_cow -->
	<sql id="sogCowColumn">
		${alias}.AUC_PRG_SQ,
		${alias}.COW_SOG_WT,
		${alias}.AUC_OBJ_DSC,
		${alias}.FIR_LOWS_SBID_LMT_AM,
		${alias}.LOWS_SBID_LMT_AM,
		${alias}.RMK_CNTN,
		${alias}.BRANDNM,
		${alias}.PRNY_MTCN,
		${alias}.AUC_DT,
		DATE_FORMAT(${alias}.LSCHG_DTM,'%Y%m%d%H%i%S') as LSCHG_DTM,
		${alias}.LS_CMENO,
		${alias}.SEL_STS_DSC,
		${alias}.LWPR_CHG_NT,
		${alias}.LVST_AUC_PTC_MN_NO,
		${alias}.SRA_SBID_AM
	</sql>
	
	<!-- tb_la_is_mm_fhs -->
	<sql id="fhsColumn">
		${alias}.FTSNM
	</sql>
	
    <!-- 출품 데이터 추출 -->
    <select id="selectAllEntry" resultMap="entryInfoMap" resultType="linkedHashMap">
		SELECT 
			<include refid="indvColumn"><property name="alias" value="A"/></include>,
			<include refid="sogCowColumn"><property name="alias" value="B"/></include>,
			<include refid="fhsColumn"><property name="alias" value="C"/></include>
        FROM tb_la_is_mm_indv as A
                 JOIN
             tb_la_is_mh_sog_cow AS B
             ON
                 A.SRA_INDV_AMNNO = B.SRA_INDV_AMNNO
                 LEFT JOIN
             tb_la_is_mm_fhs AS C
             ON
                     B.NA_BZPLC = C.NA_BZPLC AND
                     B.FHS_ID_NO = C.FHS_ID_NO AND
                     B.FARM_AMNNO = C.FARM_AMNNO
		WHERE B.AUC_DT = #{aucDt}
		AND B.NA_BZPLC = #{naBzplc}
		AND B.AUC_OBJ_DSC = #{aucObjDsc}
		<if test="auctionResultParam !=null and !auctionResultParam.equals('') and auctionResultParam.equals('S')">
			AND B.SEL_STS_DSC = '22'
		</if>
		
		<if test="auctionResultParam !=null and !auctionResultParam.equals('') and auctionResultParam.equals('P')">
			AND B.SEL_STS_DSC = '23'
		</if>
		
		<if test="auctionResultParam !=null and !auctionResultParam.equals('') and auctionResultParam.equals('SP')">
			AND B.SEL_STS_DSC >= '22'
		</if>

		ORDER BY B.AUC_PRG_SQ ASC;
    </select>
    
	<update id="updateEntryPrice" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW 
		   SET	LOWS_SBID_LMT_AM = #{mLowPrice},
		   		LWPR_CHG_NT = #{mLwprChgNt},
		   		LSCHG_DTM = NOW(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	AUC_PRG_SQ	= #{mEntryNum}
		   AND	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	AUC_DT		= #{mAucDt}
    </update>

    <update id="updateEntryState" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW 
		   SET	SEL_STS_DSC = #{mAuctionResult},
		   		LSCHG_DTM = NOW(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	AUC_PRG_SQ	= #{mEntryNum}
		   AND	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	AUC_DT		= #{mAucDt}
    </update>

     <update id="updateAuctionResult" parameterType="AuctionResult">
		UPDATE	TB_LA_IS_MH_SOG_COW 
		   SET	SEL_STS_DSC = #{mResultCode},
		  		LVST_AUC_PTC_MN_NO = #{mSuccessAuctionJoinNum},
		  		SRA_SBID_AM = #{mSuccessBidPrice},
		  		SRA_SBID_UPR = #{mSuccessBidUpr},
		   		LSCHG_DTM = NOW(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	AUC_PRG_SQ	= #{mEntryNum}
		   AND	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	AUC_DT		= #{mAucDt}
    </update>
</mapper>
