<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nh.controller.mapper.EntryInfoMapper">

    <!--TODO 경매 결과 관련 추가 해야함 -->
    <resultMap type="EntryInfo" id="entryInfoMap">
        <result property="mAuctionHouseCode" column="NA_BZPLC"/>
        <result property="mEntryNum" column="AUC_PRG_SQ"/>
		<result property="mAuctionQcn" column="QCN"/>
        <result property="mEntryType" column="AUC_OBJ_DSC"/>
        <result property="mIndNum" column="SRA_INDV_AMNNO"/>
        <result property="mIndMngCd" column="SRA_SRS_DSC"/>
        <result property="mFhsNum" column="FHS_ID_NO"/>
        <result property="mFarmMngNum" column="FARM_AMNNO"/>
        <result property="mExhibitor" column="FTSNM"/>
        <result property="mBrandName" column="BRANDNM"/>
        <result property="mBirthday" column="BIRTH"/>
        <result property="mKpn" column="KPN_NO"/>
        <result property="mGender" column="INDV_SEX_C"/>
        <result property="mGenderName" column="INDV_SEX_C_NAME"/>
        <result property="mMotherTypeCode" column="SIMP_C"/>
        <result property="mMotherObjNum" column="MCOW_SRA_INDV_AMNNO"/>
        <result property="mMotherCowName" column="MCOW_DSC"/>
        <result property="mMaTime" column="MATIME"/>
        <result property="mMaMonth" column="PRNY_MTCN"/>
        <result property="mPasgQcn" column="SRA_INDV_PASG_QCN"/>
        <result property="mObjIdNum" column="INDV_ID_NO"/>
        <result property="mObjRegNum" column="SRA_INDV_BRDSRA_RG_NO"/>
        <result property="mObjRegTypeNum" column="RG_DSC"/>
        <result property="mRgnName" column="SRA_PD_RGNNM"/>
        <result property="mDnaYn" column="DNA_YN"/>
        <result property="mIsNew" column="ANW_YN"/>
        <result property="mWeight" column="COW_SOG_WT"/>
        <result property="mInitPrice" column="FIR_LOWS_SBID_LMT_AM"/>
        <result property="mLowPrice" column="LOWS_SBID_LMT_AM"/>
        <result property="mSraSbidUpPrice" column="SRA_SBID_UPR"/>
        <result property="mNote" column="RMK_CNTN"/>
        <result property="mAucDt" column="AUC_DT"/>
        <result property="mLsChgDtm" column="LSCHG_DTM"/>
        <result property="mLsCmeNo" column="LS_CMENO"/>
        <result property="mLwprChgNt" column="LWPR_CHG_NT"/>
        <result property="mAuctionResult" column="SEL_STS_DSC"/>
        <result property="mAuctionSucBidder" column="LVST_AUC_PTC_MN_NO"/>
        <result property="mAuctionBidPrice" column="SRA_SBID_AM"/>
        <result property="mAuctionBidDateTime" column="ATDR_DTM"/>
        <result property="mOslpNo" column="OSLP_NO"/>
        <result property="mTrmnAmnNo" column="TRMN_AMNNO"/>
        <result property="mLedSqno" column="LED_SQNO"/>
        <result property="mStandPosition" column="STAND_POSITION"/>
        <result property="mMacoYn" column="MACO_YN"/>
        <result property="mTrpcsPyYn" column="TRPCS_PY_YN"/>
        <result property="mPpgcowFeeDsc" column="PPGCOW_FEE_DSC"/>
        <result property="mIsExcessCow" column="IS_EXCESS_COW"/>

    </resultMap>
    
    <resultMap type="FeeData" id="FeeResultMap">
		<result property="naBzplc" column="NA_BZPLC"/>
		<result property="aplDt" column="APL_DT"/>
		<result property="aucObjDsc" column="AUC_OBJ_DSC"/>
		<result property="feeRgSqno" column="FEE_RG_SQNO"/>
		<result property="naFee_c" column="NA_FEE_C"/>
		<result property="sraFeenm" column="SRA_FEENM"/>
		<result property="jnlzBsnDsc" column="JNLZ_BSN_DSC"/>
		<result property="sraNaFee_c" column="SRA_NA_FEE_C"/>
		<result property="feeAplObj_c" column="FEE_APL_OBJ_C"/>
		<result property="amRtoDsc" column="AM_RTO_DSC"/>
		<result property="sgnoPrcDsc" column="SGNO_PRC_DSC"/>
		<result property="macoFeeUpr" column="MACO_FEE_UPR"/>
		<result property="nmacoFeeUpr" column="NMACO_FEE_UPR"/>
		<result property="ansDsc" column="ANS_DSC"/>
		<result property="sbidYn" column="SBID_YN"/>
		<result property="ppgcowFeeDsc" column="PPGCOW_FEE_DSC"/>
		<result property="delYn" column="DEL_YN"/>
		<result property="fsrgDtm" column="FSRG_DTM"/>
		<result property="fsrgmnEno" column="FSRGMN_ENO"/>
		<result property="lschgDtm" column="LSCHG_DTM"/>
		<result property="lsCmeno" column="LS_CMENO"/>
    </resultMap>
  
	<!-- tb_la_is_mm_indv   ${alias}.BIRTH -->
	<sql id="indvColumn">
		${alias}.NA_BZPLC,							<!--	경제통합사업장코드				-->
		${alias}.SRA_INDV_AMNNO,					<!--	축산개체관리번호 				-->
		${alias}.SRA_SRS_DSC,						<!--	축산축종구분코드					-->
		${alias}.FHS_ID_NO,							<!-- 	농가식별번호					-->
		${alias}.FARM_AMNNO,						<!-- 	농장관리번호					-->
		ltrim(rtrim(${alias}.KPN_NO)) as KPN_NO,	<!--	KPN번호						-->
		${alias}.INDV_SEX_C,						<!--	축산개체성별코드					-->
		${alias}.MCOW_SRA_INDV_AMNNO,				<!--	어미소축산개체관리번호				-->
		${alias}.MATIME,							<!-- 	산차							-->
		${alias}.SRA_INDV_PASG_QCN,					<!-- 	계대							-->
		${alias}.INDV_ID_NO,						<!-- 	개체식별번호					-->
		${alias}.SRA_INDV_BRDSRA_RG_NO,				<!--	축산개체종축등록번호				-->
		${alias}.RG_DSC,							<!-- 	등록구분코드					-->
		${alias}.ANW_YN,							<!-- 	신규여부(데이터전환시 구데이터인지)	-->
		CASE WHEN ${alias}.INDV_SEX_C = '0' THEN '없음'	WHEN ${alias}.INDV_SEX_C = '1' THEN '암'
		WHEN ${alias}.INDV_SEX_C = '2' THEN '수'			WHEN ${alias}.INDV_SEX_C = '3' THEN '거세'
		WHEN ${alias}.INDV_SEX_C = '4' THEN '미경산'		WHEN ${alias}.INDV_SEX_C = '5' THEN '비거세'
		WHEN ${alias}.INDV_SEX_C = '6' THEN '프리마틴'		WHEN ${alias}.INDV_SEX_C = '9' THEN '공통' END INDV_SEX_C_NAME	<!-- 	성별 문자열		-->
	</sql>

	<!-- tb_la_is_mh_sog_cow -->
	<sql id="sogCowColumn">
		${alias}.NA_BZPLC,																				<!--	경제통합사업장코드 	-->
		${alias}.AUC_PRG_SQ,																			<!--	경매진행순서 		-->
		${alias}.COW_SOG_WT,																			<!--	우출하중량 			-->
		${alias}.AUC_OBJ_DSC,																			<!--	경매대상구분코드		-->
		${alias}.FIR_LOWS_SBID_LMT_AM / #{divisionPrice} AS FIR_LOWS_SBID_LMT_AM,						<!--	최초최저낙찰한도금액	-->
		${alias}.LOWS_SBID_LMT_AM / #{divisionPrice} AS LOWS_SBID_LMT_AM,								<!--	최저낙찰한도금액		-->
		${alias}.SRA_SBID_AM / #{divisionPrice} AS SRA_SBID_AM,											<!--	축산낙찰금액		-->
		${alias}.SRA_SBID_UPR,																			<!--	낙찰 단가			-->
		${alias}.RMK_CNTN,																				<!--	비고 내용			-->
		${alias}.BRANDNM,																				<!--	브랜드명			-->
		${alias}.PRNY_MTCN,																				<!--	임신개월수			-->
		${alias}.AUC_DT,																				<!--	경매일자			-->
		REPLACE(REPLACE(REPLACE(CONVERT(varchar,A.LSCHG_DTM,20),'-',''),' ',''),':','') as LSCHG_DTM,	<!--	최종변경일시		-->
		${alias}.LS_CMENO,																				<!--	최종변경자개인번호	-->
		${alias}.SEL_STS_DSC,																			<!--	판매상태구분코드		-->
		${alias}.LWPR_CHG_NT,																			<!--	최저가변경횟수		-->
		${alias}.LVST_AUC_PTC_MN_NO,																	<!--	가축경매참여자번호	-->
		${alias}.DNA_YN,																				<!--	DNA				-->
		${alias}.SRA_PD_RGNNM,																			<!--	축산생산지역명		-->
		${alias}.OSLP_NO,																				<!--	원표번호			-->
		${alias}.TRMN_AMNNO,																			<!--	거래인관리번호		-->
		${alias}.LED_SQNO,																				<!--	원장일련번호		-->
		(SELECT TOP 1 E.ATDR_DTM 
			FROM TB_LA_IS_MH_ATDR_LOG E
			WHERE E.NA_BZPLC = ${alias}.NA_BZPLC
				AND E.AUC_OBJ_DSC = ${alias}.AUC_OBJ_DSC 
				AND E.AUC_DT = ${alias}.AUC_DT
				AND E.OSLP_NO = ${alias}.OSLP_NO
				AND E.TRMN_AMNNO = ${alias}.TRMN_AMNNO
				AND E.LVST_AUC_PTC_MN_NO = ${alias}.LVST_AUC_PTC_MN_NO
				AND E.ATDR_AM = ${alias}.SRA_SBID_UPR
		 ) AS ATDR_DTM,																					<!--	응찰일시			-->
		 ${alias}.TRPCS_PY_YN,																			<!--	운송비지급여부		-->
		${alias}.PPGCOW_FEE_DSC,																		<!--	번식우수수료구분코드	-->
		${alias}.AUC_PRG_SQ as STAND_POSITION,															<!--	계류대번호			-->
		'N' as IS_EXCESS_COW																			<!--	계류대번호 플래그	-->
	</sql>

	<!-- tb_la_is_mm_fhs -->
	<sql id="fhsColumn">
		${alias}.FTSNM,					<!--	농가명	-->
		${alias}.MACO_YN				<!--	조합원여부	-->
	</sql>

	<sql id="aplColumn">
		${alias}.SIMP_C,				<!--	혈통코드	-->
		${alias}.SIMP_CNM AS MCOW_DSC	<!--	혈통명	-->
	</sql>
	
	<sql id="qcnColumn">
		${alias}.QCN					<!--	차수	-->
	</sql>
	

	<!-- 출품 데이터 Count -->
	<select id="selectAllEntryCount" resultType="int">
	SELECT	count(*)
	FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
								 AND A.FHS_ID_NO		= B.FHS_ID_NO
								 AND A.FARM_AMNNO		= B.FARM_AMNNO
								 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
								 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
								 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
								 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
													 FROM TB_LA_IS_MH_COMN_APL
													 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
								 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
													 FROM TB_LA_IS_MH_COMN_APL
													 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
								 JOIN TB_LA_IS_MH_AUC_QCN AS F
															ON
															A.NA_BZPLC = F.NA_BZPLC
															AND A.AUC_DT = F.AUC_DT
															AND A.AUC_OBJ_DSC = F.AUC_OBJ_DSC
	WHERE A.NA_BZPLC	= #{naBzplc}
	AND A.AUC_DT		= #{aucDt}
	AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
	</select>

	<!-- 출품 데이터 추출 -->
	<select id="selectAllEntry" resultMap="entryInfoMap" resultType="linkedHashMap">
		SELECT
				<include refid="sogCowColumn"><property name="alias" value="A"/><property name="divisionPrice" value="#{divisionPrice}" /></include>,
				<include refid="fhsColumn"><property name="alias" value="B"/></include>,
				<include refid="indvColumn"><property name="alias" value="C"/></include>,
				<include refid="aplColumn"><property name="alias" value="E"/></include>,
				<include refid="qcnColumn"><property name="alias" value="F"/></include>,
			<![CDATA[CASE WHEN NOT C.BIRTH IS NULL THEN
					SUBSTRING(C.BIRTH,3,2) + '.'+ SUBSTRING(C.BIRTH,5,2) + '.' +  SUBSTRING(C.BIRTH,7,2) + '('+
					CONVERT(varchar , CASE WHEN DATEDIFF(D, C.BIRTH,   A.AUC_DT) <= 4 THEN 4
						   WHEN DATEPART(D, C.BIRTH) > DATEPART(D,   A.AUC_DT) THEN DATEDIFF(M, C.BIRTH,   A.AUC_DT) - 1  
						   ELSE DATEDIFF(M, C.BIRTH,   A.AUC_DT) 
					  END )
					+ '개월 ' +
					 CONVERT(varchar , CASE WHEN DATEDIFF(D, C.BIRTH,   A.AUC_DT) < 0 THEN 0   
						   WHEN DATEDIFF(M, C.BIRTH,   A.AUC_DT) = 0 THEN DATEDIFF(D, C.BIRTH,   A.AUC_DT) 
						   WHEN DATEDIFF(M, C.BIRTH,   A.AUC_DT) = 1 AND DATEPART(D, C.BIRTH) >= DATEPART(D,   A.AUC_DT) THEN DATEDIFF(D, C.BIRTH,   A.AUC_DT)  
						   WHEN DATEDIFF(M, C.BIRTH,   A.AUC_DT) > 1 AND DATEPART(D, C.BIRTH) >= DATEPART(D,   A.AUC_DT) THEN DATEDIFF(D, DATEADD(M, DATEDIFF(M, C.BIRTH,   A.AUC_DT)-1, C.BIRTH),   A.AUC_DT) 
					   WHEN DATEDIFF(M, C.BIRTH,   A.AUC_DT) > 1 AND DATEPART(D, C.BIRTH) < DATEPART(D,   A.AUC_DT) THEN DATEDIFF(D, DATEADD(M, DATEDIFF(M, C.BIRTH,   A.AUC_DT), C.BIRTH),   A.AUC_DT)
					   ELSE 0
					  END )
					+ '일)'
					ELSE '' 
					END]]> as BIRTH
		FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
									 AND A.FHS_ID_NO		= B.FHS_ID_NO
									 AND A.FARM_AMNNO		= B.FARM_AMNNO
									 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
									 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
									 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
									JOIN TB_LA_IS_MH_AUC_QCN AS F
																ON
																A.NA_BZPLC = F.NA_BZPLC AND
																A.AUC_DT = F.AUC_DT AND
																A.AUC_OBJ_DSC = F.AUC_OBJ_DSC
		WHERE A.NA_BZPLC	= #{naBzplc}
		AND A.AUC_DT		= #{aucDt}
		AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
		
		<if test="mAuctionResult !=null and !mAuctionResult.equals('')">
			AND A.SEL_STS_DSC = #{mAuctionResult}
		</if>
		
		ORDER BY AUC_PRG_SQ
	</select>

	<!-- 일괄경매 출품 데이터 추출 -->
	<select id="selectStnEntry" resultMap="entryInfoMap" >
	
		SELECT 
				<include refid="sogCowColumn"><property name="alias" value="A"/></include>,
				<include refid="indvColumn"><property name="alias" value="C"/></include>,
				<include refid="fhsColumn"><property name="alias" value="B"/></include>
		FROM TB_LA_IS_MH_SOG_COW A LEFT OUTER JOIN TB_LA_IS_MM_FHS B ON A.NA_BZPLC = B.NA_BZPLC
									 AND A.FHS_ID_NO		= B.FHS_ID_NO
									 AND A.FARM_AMNNO		= B.FARM_AMNNO
									 LEFT OUTER JOIN TB_LA_IS_MM_INDV C ON A.NA_BZPLC = C.NA_BZPLC
									 AND A.SRA_INDV_AMNNO	= C.SRA_INDV_AMNNO
									 AND A.SRA_SRS_DSC		= C.SRA_SRS_DSC
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') D ON C.RG_DSC = D.SIMP_C 
									 LEFT OUTER JOIN ( SELECT SIMP_C, SIMP_CNM
														 FROM TB_LA_IS_MH_COMN_APL
														 WHERE SIMP_TPC = 'SRA_INDV_BRDSRA_RG_DSC') E ON C.MCOW_DSC = E.SIMP_C
		WHERE A.NA_BZPLC	= #{naBzplc}
		AND A.AUC_DT		= #{aucDt}
		AND A.AUC_OBJ_DSC	= CASE WHEN #{aucObjDsc} = '0' THEN A.AUC_OBJ_DSC ELSE #{aucObjDsc} END
		AND A.AUC_YN = '1'
		AND A.SEL_STS_DSC <![CDATA[<>]]> #{selStsDsc} 
		AND A.AUC_PRG_SQ <![CDATA[>=]]> 1 AND A.AUC_PRG_SQ <![CDATA[<=]]> 1000
		ORDER BY AUC_PRG_SQ
		
	</select>
	
	<!--소 한건 조회-->
	<select id="obtainEntryInfo" resultMap="entryInfoMap">
		SELECT  NA_BZPLC,
				AUC_OBJ_DSC,
				OSLP_NO,
				LED_SQNO,
				AUC_PRG_SQ,
				AUC_DT,
				CONVERT(CHAR(19), LSCHG_DTM, 20) AS LSCHG_DTM,
				TRMN_AMNNO,
				LVST_AUC_PTC_MN_NO,
				SEL_STS_DSC,
				SRA_SBID_AM,
				SRA_SBID_UPR,
				LS_CMENO
		FROM TB_LA_IS_MH_SOG_COW
		WHERE	AUC_PRG_SQ	= #{mEntryNum}
			AND	NA_BZPLC	= #{mAuctionHouseCode}
			AND	AUC_OBJ_DSC	= #{mEntryType}
			AND	OSLP_NO		= #{mOslpNo}
			AND	AUC_DT		= #{mAucDt}
			AND	LED_SQNO     = #{mLedSqno}
	</select>
	
	
	 <!-- 경매 대기/진행/종료/보류 조회 -->
	<select id="selectSelStsCount" resultType="SelStsCountData" >
	
		SELECT	count(case when sel_sts_dsc = '11' then '11' end) as selStsReady,
				count(case when sel_sts_dsc = '21' then '21' end) as selStsAuction,
				count(case when sel_sts_dsc = '22' then '22' end) as selStsFinish,
				count(case when sel_sts_dsc = '23' then '23' end) as selStsPending,
				count(case when AUC_YN = '1' then '1' end) as selStsProgress,
				count(*) as totalCount
		from tb_la_is_mh_sog_cow
		WHERE na_bzplc = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
	
	</select>
	
	<!-- 가격 정보 업데이트-->
	<update id="updateEntryPrice" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	LOWS_SBID_LMT_AM = #{mLowPrice},
		   		LWPR_CHG_NT = #{mLwprChgNt},
		   		LSCHG_DTM	= GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	OSLP_NO		= #{mOslpNo}
		   AND	LED_SQNO     = #{mLedSqno}
		   AND	AUC_DT		= #{mAucDt}
    </update>
    
	<!-- 가격 정보 다중 업데이트-->
    <update id="updateEntryPriceList" parameterType="java.util.List">
    	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE	TB_LA_IS_MH_SOG_COW
			   SET	LOWS_SBID_LMT_AM = #{item.mLowPrice},
			   		LWPR_CHG_NT = #{item.mLwprChgNt},
			   		LSCHG_DTM = GETDATE(),
			   		LS_CMENO	= #{item.mLsCmeNo}
			 WHERE	NA_BZPLC	= #{item.mAuctionHouseCode}
			   AND	AUC_OBJ_DSC	= #{item.mEntryType}
			   AND	OSLP_NO		= #{item.mOslpNo}
			   AND	LED_SQNO     = #{item.mLedSqno}
			   AND	AUC_DT		= #{item.mAucDt}
		   </foreach>
    </update>
    

  	<!-- 경매 상태 업데이트-->
    <update id="updateEntryState" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	SEL_STS_DSC = #{mAuctionResult},
		   		LSCHG_DTM = GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	AUC_PRG_SQ	= #{mEntryNum}
		   AND	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	AUC_DT		= #{mAucDt}
    </update>

	<!-- 경매 결과 업데이트-->
	<update id="updateAuctionResult" parameterType="EntryInfo">
		UPDATE	TB_LA_IS_MH_SOG_COW
		   SET	SRA_SBID_AM		= #{mAuctionBidPrice},
		  		SRA_SBID_UPR	= #{mSraSbidUpPrice},
		  		LVST_AUC_PTC_MN_NO = #{mAuctionSucBidder},
		  		TRMN_AMNNO	= #{mTrmnAmnNo},
		   		SEL_STS_DSC	= #{mAuctionResult},
		   		LSCHG_DTM	= GETDATE(),
		   		LS_CMENO	= #{mLsCmeNo}
		 WHERE	NA_BZPLC	= #{mAuctionHouseCode}
		   AND	AUC_DT		= #{mAucDt}
		   AND	AUC_OBJ_DSC	= #{mEntryType}
		   AND	OSLP_NO		= #{mOslpNo}
		   AND	LED_SQNO	= #{mLedSqno}
		   
    </update>

	<!-- 응찰 내역 카운트-->
	<select id="selectBiddingHistoryCount" resultType="int">
		SELECT COUNT(*)
		FROM TB_LA_IS_MH_ATDR_LOG
		WHERE NA_BZPLC = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
		AND OSLP_NO = #{oslpNo}
		AND RG_SQNO = #{rgSqno}
	</select>
	
	<!-- 다음 응찰 RG_SQNO-->
	<select id="selectNextBiddingHistoryCount" resultType="int">
	
		SELECT ISNULL(MAX(RG_SQNO)+1,1)
		FROM TB_LA_IS_MH_ATDR_LOG
		WHERE NA_BZPLC = #{naBzplc}
		AND AUC_DT = #{aucDt}
		AND AUC_OBJ_DSC = #{aucObjDsc}
		AND OSLP_NO = #{oslpNo}
		AND RG_SQNO <![CDATA[>]]> '0' AND RG_SQNO <![CDATA[<]]> '99999999'

	</select>
	
	
	<!-- 응찰 내역 업데이트-->
	<insert id="insertBiddingHistory" parameterType="EntryData">
		INSERT INTO TB_LA_IS_MH_ATDR_LOG(
			NA_BZPLC,
			AUC_OBJ_DSC,
			AUC_DT,
			OSLP_NO,
			RG_SQNO,
			TRMN_AMNNO,
			LVST_AUC_PTC_MN_NO,
			ATDR_AM,
			RMK_CNTN,
			ATDR_DTM,
			AUC_PRG_SQ,
			MMO_INP_YN,
			TMS_YN
		)
		VALUES (
			#{naBzplc},
			#{aucObjDsc},
			#{aucDt},
			#{oslpNo},
			#{rgSqno},
			#{trmnAmnno},
			#{lvstAucPtcMnNo},
			#{atdrAm},
			#{rmkCntn},
			#{atdrDtm},
			#{aucPrgSq},
			'0',
			'0'
		)
	</insert>

	<!--  수수료 부과내역 삭제  -->
	<delete id="deleteFeeImps" parameterType="FeeImpsData">
		DELETE FROM TB_LA_IS_MH_FEE_IMPS
		WHERE		NA_BZPLC		= #{naBzplc}
			AND		AUC_DT			= #{aucDt}
			AND		AUC_OBJ_DSC		= #{aucObjDsc}
			AND		OSLP_NO			= #{oslpNo}
			AND		LED_SQNO		= #{ledSqNo}
	</delete>

	<!-- 수수료 부과내역 저장-->
	<insert id="insertFeeImpsList" parameterType="FeeImpsData">
	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
		INSERT INTO TB_LA_IS_MH_FEE_IMPS VALUES (
			#{item.naBzplc},
			#{item.aucObjDsc},
			#{item.aucDt},
			#{item.oslpNo},
			#{item.ledSqNo},
			#{item.feeRgSqno},
			#{item.aplDt},
			#{item.naFee_c},
			#{item.feeAplObj_c},
			#{item.ansDsc},
			#{item.sBidYn},
			#{item.sraTrFee},
			#{item.tmsYn}
		)
		</foreach>
	</insert>

	<!-- 수수료 기준 데이터 -->
	<select id="selectFee" resultMap="FeeResultMap">
		SELECT A.* 
				,B.FEE_CHK_DNA_YN_FEE 
				,B.SELFEE_CHK_DNA_YN_FEE
		FROM TB_LA_IS_MH_FEE  A LEFT JOIN TB_LA_IS_MM_ENV_EST B
		                      ON A.NA_BZPLC = B.NA_BZPLC
		WHERE  A.APL_DT = (SELECT MAX(APL_DT) FROM TB_LA_IS_MH_FEE
		                   WHERE AUC_OBJ_DSC = #{aucObjDsc}
		                     AND NA_BZPLC    = #{naBzplc}
		                     AND DEL_YN      = '0'
		                     AND APL_DT <![CDATA[<=]]> #{aplDt})
		                   
		AND A.AUC_OBJ_DSC = #{aucObjDsc}
		AND A.DEL_YN      = '0'
		AND A.NA_BZPLC    = #{naBzplc}
	</select>
	
</mapper>
